.App {
  text-align: center;
}

html {
  background-color: black;
}


.App-header {
  background-color: hsla(0, 0%, 0%, 0.75);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  min-height: 50px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  color: black;
  transition: all 0.4s;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

button.choicebutton {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 150px;
  min-height: 70px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  transition: all 0.5s;

}

button.choicebutton:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.25);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 10px;
  transition: all 0.5s;
}

.buttonicon {
  font-size: 40px;
  border: 3px solid black;
  padding: 8px;
  border-radius: 50%;
  margin-top: 10px;
  transition: all 0.5s;
}

button.choicebutton:hover>.buttonicon {
  transform: scale(1.2);
  background-color: black;
  transition: all 0.5s;
}

.arrowDown {
  font-size: 55px;
  animation: bounce 3s infinite;
}

.choiceline {
  height: 2px;
  border-radius: 0px;
  border: none;
  background-color: white;
}

#food {
  border-color: rgb(219, 46, 46);
}

button.choicebutton:hover>#food {
  color: rgb(219, 46, 46);
}

#drink {
  border-color: rgb(248, 230, 34);
}

button.choicebutton:hover>#drink {
  color: rgb(248, 230, 34);
}

#tree {
  border-color: rgb(46, 202, 116);
}

button.choicebutton:hover>#tree {
  color: rgb(46, 202, 116);
}

#gym {
  border-color: rgb(21, 147, 232);
}

button.choicebutton:hover>#gym {
  color: rgb(21, 147, 232);
}

@keyframes bounce {

  0%,
  20%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-20px);
  }

  90% {
    transform: translateY(-10px);
  }
}

img.sad-response {
  width: 200px;
  height: 200px;
}

div#response {
  min-height: 100px;
  padding-top: 100px;
  min-width: 200px;
}

div.background {
  background-image: url("../../public/pictures/paper.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

img.resultpic {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
}


div.resultcard {
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid white;
  transform: translateY(400px);
  opacity: 1;
}

div.resultcard:nth-child(n+1) {
  animation: appear 1.5s forwards;
}

div.resultcard:nth-child(n+2) {
  animation: appear 1.5s forwards 0.2s;
}

div.resultcard:nth-child(n+3) {
  animation: appear 1.5s forwards 0.4s;
}

div.resultcard:nth-child(n+4) {
  animation: appear 1.5s forwards 0.6s;
}

div.resultcard:nth-child(n+5) {
  animation: appear 1.5s forwards 0.8s;
}

div.resultcard:nth-child(n+6) {
  animation: appear 1.5s forwards 1s;
}

@keyframes appear {
  0% {
    transform: translateY(100px) rotateZ(1deg);
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px) rotateZ(0deg);
    opacity: 1;
  }
}