@font-face {
    font-family: "Takota";
    src: url("./takota-font/Takota-BRa8.ttf") format("truetype");
}

html {
    background-color: black;
}

div#landing {
    background-image: url("../../public/pictures/timelapse-pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img#landingpic {
    padding-top: 5vh;
    padding-bottom: 3vh;
}

div#carousel {
    overflow-x: hidden;
    background-color: #f1faee9a;
    margin-top: 8vh;
    display: block;
    height: 100px;
    width: 200vw;
    min-width: 3000px;
    transform: translateX(-100vw);
    animation: slide 25s linear 1s infinite normal;
}

@media screen and (max-width: 1500px) {
    div#carousel {
        animation: fixedslide 25s linear 1s infinite normal;
    }

    #carousel>img {
        margin-top: 12px;
    }
}

@keyframes slide {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes fixedslide {
    from {
        transform: translateX(-1500px);
    }

    to {
        transform: translateX(0px);
    }
}

#carousel>img {
    width: 5vw;
    min-width: 75px;
    height: 5vw;
    min-height: 75px;
    margin-top: 8px;
    display: inline-block;
}

div.spacer {
    width: 15vw;
    min-width: 225px;
    height: 5vw;
    min-height: 75px;
    display: inline-block;
}


.threecolflex {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    text-align: center;
}

.colmask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.flexcol1 {
    width: 33.33vw;
    background-image: url("../../public/pictures/gym-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.flexcol2 {
    width: 33.33vw;
    background-image: url("../../public/pictures/concert-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.flexcol3 {
    width: 33.33vw;
    background-image: url("../../public/pictures/bar-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.colheader {
    margin-top: 0;
    padding-top: 15vh;
    font-family: "Takota";
    font-size: 75px;
}

@media screen and (max-width:1000px) {

    .flexcol1,
    .flexcol2,
    .flexcol3 {
        width: 100vw;
        height: 75vh;
    }

    .threecolflex {
        flex-direction: column;
    }
}