@font-face {
    font-family: "Takota";
    src: url("./takota-font/Takota-BRa8.ttf") format("truetype");
}

body {
    background-color: #1b1b1b;
    color: white;
}

h1 {
    font-family: "Takota";
    font-size: 100px;
    letter-spacing: 7px;
    padding-top: calc(5vh + 70px);
}

#landingmask {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
}

div.header-section {
    width: 100vw;
    min-height: 100vh;
    background-image: url("../../public/pictures/timelapse-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}